{{template "header" .}}
<!---->
{{$copyPassword := lang .Lang "copyPassword"}} {{$viewEntry := lang .Lang "viewEntry"}}
<!---->
{{$editEntry := lang .Lang "editEntry"}} {{$deleteEntry := lang .Lang "deleteEntry"}}
<!---->
{{$name := lang .Lang "name"}} {{$password := lang .Lang "password"}} {{$title := lang .Lang "title"}}
<div class="card-panel blue-grey darken-1 border">
    <div class="col card-content white-text">
        <h5>{{lang .Lang "passwordList"}}</h5>
        <br>
        <div class="row" id="pwnedList">
            <div class="col s12 m5">
                {{if eq .Special -1}}
                <div class="card-panel green">
                    <span class="white-text">
                        {{lang .Lang "pwnedNotFound"}}
                        <a class="btn-floating waves-effect waves-light" id="closePwnedList"><i class="material-icons">close</i></a>
                    </span>
                </div>
                {{else if eq .Special -2}}
                <div class="card-panel red">
                    <span class="white-text">
                        {{lang .Lang "pwnedFound"}}<br>
                        <br> {{range $index, $dataset := .Pwns}}{{$dataset}}<br>{{end}}
                        <a class="btn-floating waves-effect waves-light right" id="closePwnedList"><i class="material-icons">close</i></a>
                    </span>
                </div>
                {{end}}
            </div>
        </div>
        <div>
            <input id="passwordView" value="" readonly hidden>
            <form method="POST" id="passwordEdit" onsubmit="return manipulateEditPassword()" hidden>
                <input id="passwordEditTitle" name="passwordEditTitle" value="" hidden>
                <input id="passwordEditID" name="passwordEditID" value="" hidden>
                <input id="passwordEditInput" name="passwordEditInput" minlength="8" value="" required>
                <button class="btn waves-effect waves-light" type="submit">{{lang .Lang "editEntry"}}
                    <i class="material-icons right">edit</i>
                </button>
            </form>
            <form method="POST" id="passwordEditAfter" hidden>
                <input id="passwordEditTitleAfter" name="passwordEditTitleAfter" value="" hidden>
                <input id="passwordEditIDAfter" name="passwordEditIDAfter" value="" hidden>
                <input id="passwordEditInputAfter" name="passwordEditInputAfter" minlength="8" value="" required>
                <button class="btn waves-effect waves-light" type="submit">{{lang .Lang "editEntry"}}
                    <i class="material-icons right">edit</i>
                </button>
            </form>
            <form method="POST" id="passwordDelete" hidden>
                <input type="checkbox" id="passwordDeleteTitle" name="passwordDeleteTitle" value="" checked hidden>
                <p><label><input type="checkbox" id="passwordDeleteInput" name="passwordDeleteInput" value="" required>
                        <span>{{lang .Lang "deleteEntry"}}</span></label></p>
                <button class="btn waves-effect waves-light" type="submit">{{lang .Lang "deleteEntry"}}
                    <i class="material-icons left">delete</i>
                </button>
            </form>
        </div>
        <div class="collection">
            {{range $index, $password := .Passwords}}
            <div class="collection-item"><a class="passwordTitle">{{$password.Title}}</a> <a class="passwordName">{{$password.Name}}</a>&nbsp;
                <input id="pw-{{$index}}" title="{{$password.Title}}" name="{{$password.Name}}" value="{{$password.Password}}" disabled hidden>
                <a class="secondary-content" href="/haveibeenpwned?account={{$password.Name}}" title="haveibeenpwned">
                    <i class="material-icons">check</i>&nbsp;</a>
                <a class="secondary-content" title="{{$deleteEntry}}" href="#">
                    <i class="material-icons deletebtn" passwordid="{{$index}}">delete</i>&nbsp;</a>
                <a class="secondary-content" title="{{$editEntry}}" href="#">
                    <i class="material-icons editbtn" passwordid="{{$index}}">edit</i>&nbsp;</a>
                <a class="secondary-content" title="{{$viewEntry}}" href="#">
                    <i class="material-icons viewbtn" passwordid="{{$index}}">search</i>&nbsp;</a>
                <a class="secondary-content" title="{{$copyPassword}}" href="#">
                    <i class="material-icons copybtn" passwordid="{{$index}}">vpn_key</i>&nbsp;</a>
            </div>
            {{end}}
        </div>
        <form method="POST" onsubmit="return manipulateAddPassword()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="titlePre" type="text" class="validate" placeholder="{{$title}}" required>
                    <input id="namePre" type="text" class="validate" placeholder="{{$name}}" required>
                    <input id="passwordPre" type="password" class="validate" placeholder="{{$password}}" minlength="8" required>
                </div>
            </div>
            <p><label><input type="checkbox" id="showPassword">
                    <span>{{lang .Lang "showPassword"}}</span></label></p>
            <button class="btn waves-effect waves-light" type="submit">{{lang .Lang "createEntry"}}
                <i class="material-icons right">save</i>
            </button>
            <button class="btn waves-effect waves-light" id="generatePassword" type="button">{{lang .Lang "generatePassword"}}
                <i class="material-icons right">cached</i>
            </button>
        </form>
        <form id="addPassword" method="POST" hidden>
            <div class="row">
                <div class="input-field col s12">
                    <input name="title" id="title" type="text" class="validate" placeholder="{{$title}}" required>
                    <input name="name" id="name" type="text" class="validate" placeholder="{{$name}}" required>
                    <input name="password" id="password" type="password" class="validate" placeholder="{{$password}}" required>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">{{lang .Lang "createEntry"}}
                <i class="material-icons right">save</i>
            </button>
        </form>
    </div>
</div>
{{template "javascript" .}}
<script type="text/javascript" src="/js/sjcl.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<!---->
{{template "footer" .}}