{{template "header" .}}
<!---->
{{$copyPassword := lang .Lang "copyPassword"}} {{$viewEntry := lang .Lang "viewEntry"}}
<!---->
{{$editEntry := lang .Lang "editEntry"}} {{$deleteEntry := lang .Lang "deleteEntry"}}
<div class="card-panel blue-grey darken-1 border">
    <div class="col card-content white-text">
        <h5>{{lang .Lang "passwordList"}}</h5>
        <br>
        <div>
            <input id="passwordView" value="" readonly hidden>
            <form id="passwordEdit" hidden>
                <input id="passwordEditInput" name="passwordEditInput" value="">
                <button class="btn waves-effect waves-light" type="submit">{{lang .Lang "editEntry"}}
                    <i class="material-icons left">edit</i>
                </button>
            </form>
            <form id="passwordDelete" action="/delete" hidden>
                <p><label><input type="checkbox" id="passwordDeleteInput" name="passwordDeleteInput" value="">
                        <span>{{lang .Lang "deleteEntry"}}</span></label></p>
                <button class="btn waves-effect waves-light" type="submit">{{lang .Lang "deleteEntry"}}
                    <i class="material-icons left">delete</i>
                </button>
            </form>
        </div>
        <div class="collection">
            {{range $rawID, $password := .Passwords}} {{$passwordID := (printf "pw-%s" $rawID)}}
            <div class="collection-item password">Alvin&nbsp;
                <input id="{{$passwordID}}" value="{{$password}}" disabled hidden>
                <a class="secondary-content deletebtn" passwordid="{{$passwordID}}" title="{{$deleteEntry}}" href="#"><i
                        class="material-icons deletebtn" passwordid="{{$passwordID}}">delete</i>&nbsp;</a>
                <a class="secondary-content editbtn" passwordid="{{$passwordID}}" title="{{$editEntry}}" href="#"><i class="material-icons editbtn"
                        passwordid="{{$passwordID}}">edit</i>&nbsp;</a>
                <a class="secondary-content viewbtn" passwordid="{{$passwordID}}" title="{{$viewEntry}}" href="#"><i class="material-icons viewbtn"
                        passwordid="{{$passwordID}}">search</i>&nbsp;</a>
                <a class="secondary-content copybtn" passwordid="{{$passwordID}}" title="{{$copyPassword}}" href="#"><i class="material-icons copybtn"
                        passwordid="{{$passwordID}}">vpn_key</i>&nbsp;</a>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{template "javascript" .}}
<script type="text/javascript" src="/js/sjcl.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<!---->
{{template "footer" .}}