{{template "header" .}} {{$currentPassword := lang .Lang "currentPassword"}}
<!---->
{{$newPassword := lang .Lang "newPassword"}} {{$repeatNewPassword := lang .Lang "repeatNewPassword"}}
<div class="card-panel blue-grey darken-1 border">
    <form method="POST">
        <div class="col card-content white-text">
            <h5>{{lang .Lang "settings"}}</h5>
            <div class="row">
                <div class="input-field col s12">
                    <select name="language">
                        <option value="{{.Lang}}" disabled selected>{{lang .Lang "changeLanguage"}}</option>
                        {{range $lang := languages}}
                        <option value="{{$lang}}">{{lang $lang "LanguageName"}}</option>
                        {{end}}
                    </select>
                    <label>{{lang .Lang "language"}}</label>
                </div>
                <br>
                <div class="input-field col s12">
                    {{if eq .Special -1}}
                    <p class="success">{{lang .Lang "changedPassword"}}</p>
                    {{else if eq .Special -2}}
                    <p class="error">{{lang .Lang "passwordWrong"}}</p>
                    {{else if eq .Special -3}}
                    <p class="error">{{lang .Lang "passwordNotEqual"}}</p>
                    {{end}}
                    <input name="currentPassword" type="password" class="validate" placeholder="{{$currentPassword}}" minlength="8">
                    <input name="newPassword" type="password" class="validate" placeholder="{{$newPassword}}" minlength="8">
                    <input name="repeatNewPassword" type="password" class="validate" placeholder="{{$repeatNewPassword}}" minlength="8">
                </div>
                <!-- TODO: Two-factor authentication-->
            </div>
            <button class="btn waves-effect waves-light" type="submit">{{lang .Lang "save"}}
                <i class="material-icons right">save</i>
            </button>
        </div>
    </form>
    <br>
    <hr>
    <br>
    <form action="/settings/delete_forever" method="POST">
        {{if eq .Special -4}}
        <p><label><input type="checkbox" name="delete_forever" value="delete_account_forever"><span>{{lang .Lang "deleteAccount"}}</span></label></p>
        {{end}}
        <button class="btn waves-effect waves-light" type="submit">{{lang .Lang "deleteAccount"}}
            <i class="material-icons left">delete_forever</i>
        </button>
    </form>
</div> {{template "javascript" .}}
<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });
</script> {{template "footer" .}}