.greedy-sidebar{
	position: relative;
	width: 100%;
	height: 100%;
	list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: #2c343f;
	overflow: hidden;
}
.greedy-sidebar > .header{
	position: relative;
	display: table;
	background-color: #3c434d;
	height: 60px;
	width: 100%;
	box-sizing: border-box;
}
.greedy-sidebar > .header > .logo{
	display: table-cell;
	width: 50%;
	height: 50px;
	vertical-align: middle;
	padding: 5px 5px 5px 15px;
}
.greedy-sidebar > .header > .custom-area{
	display: table-cell;
	width: 50%;
	height: 50px;
	vertical-align: middle;
	text-align: right;
	padding: 5px 15px 5px 5px;
	box-sizing: border-box;
}
.greedy-sidebar > .header-buttons{
	position: relative;
	display: table;
	list-style-type: none;
	width: 100%;
	height: 35px;
	padding: 0;
	margin: 0;
	background-color: #3c434d;
	border-top: 1px solid #2c343f;
}
.greedy-sidebar > .header-buttons > a{
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 12px;
}
.greedy-sidebar > .header-buttons > a:hover{
	background-color: #2086bf;
}
.greedy-sidebar > .menu-content{
	position: relative;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
}
.greedy-sidebar > .menu-content > li > a,
.greedy-sidebar > .menu-content > div > li > a{
	display: block;
    width: calc(100% - 30px);
    width: -moz-calc(100% - 30px);
	color: #7b939f;
	padding: 8px 15px 10px 15px;
	font-size: 12px;
	height: 16px;
}
.greedy-sidebar > .menu-content > li > a > .icon,
.greedy-sidebar > .menu-content > div > li > a > .icon{
	position: relative;
	opacity: 0.5;
	width: 20px;
	font-size: 14px;
	text-align: center;
	padding: 0px 15px 0px 0px;
}
.greedy-sidebar > .menu-content > li > a:hover,
.greedy-sidebar > .menu-content > div > li > a:hover{
	background-color: #232a32;
	color: #7b939f;
	/*border-left: 2px dotted #1BA1E2;*/
}
.greedy-sidebar > .menu-content > li > a.sb-active,
.greedy-sidebar > .menu-content > div > li > a.sb-active{
	background-color: #252c36;
	color: #FFFFFF;
	/*order-left: 2px solid #1BA1E2;*/
}

.greedy-sidebar > .menu-content > li.title,
.greedy-sidebar > .menu-content > div > li.title{
	position: relative;
	color: #7b939f;
	padding: 23px 15px 5px 15px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}
.greedy-sidebar > .menu-content > li.title > .title-text,
.greedy-sidebar > .menu-content > div > li.title > .title-text{
	position: relative;
	float: left;
}
.greedy-sidebar > .menu-content > li.title > .title-link,
.greedy-sidebar > .menu-content > div > li.title > .title-link{
	position: relative;
	float: right;
	color: #1BA1E2;
	margin-top: 2px;
}
.greedy-sidebar > .menu-content > li.title > .title-clear,
.greedy-sidebar > .menu-content > div > li.title > .title-clear{
	clear: both;
}
.greedy-sidebar > .menu-content > li.divider,
.greedy-sidebar > .menu-content > div > li.divider{
	position: relative;
	width: 100%;
	height: 1px;
	background-color: #7b939f;
	padding: 0px 15px 0px 15px;
	opacity: 0.2;
}
.magic-line {
    position: absolute;
    left: 0;
    width: 2px;
    background: #1BA1E2;
}

/* DROPDOWN */
.greedy-sidebar > .menu-content > li > ul,
.greedy-sidebar > .menu-content > div > li > ul{
	position: relative;
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #3c434d;
}
.greedy-sidebar > .menu-content > li > ul > li > a,
.greedy-sidebar > .menu-content > div > li > ul > li > a{
	display: block;
    width: calc(100% - 60px);
    width: -moz-calc(100% - 60px);
	color: #7b939f;
	padding: 8px 30px 10px 30px;
	font-size: 12px;
}
.greedy-sidebar > .menu-content > li > ul > li > a:hover,
.greedy-sidebar > .menu-content > div > li > ul > li > a:hover{
	color: #FFFFFF;
}
.greedy-sidebar > .menu-content > li > ul > li > a.active,
.greedy-sidebar > .menu-content > div > li > ul > li > a.active{
	color: #FFFFFF;
}
.greedy-sidebar > .menu-content > li > ul > li > a > .icon,
.greedy-sidebar > .menu-content > div > li > ul > li > a > .icon{
	position: relative;
	opacity: 0.5;
	width: 20px;
	font-size: 14px;
	text-align: left;
	padding: 0px 5px 0px 0px;
}