
table.greedy-table{
	position: relative;
	width: 100%;
	color: #2c343f;
	font-size: 12px;
	border-collapse: separate; 
	border-spacing: 0;
}
table.greedy-table > thead{
	text-align: left;
}
table.greedy-table > thead > tr > th{
	font-weight: bold;
	padding: 0px 5px 8px 5px;
}
table.greedy-table > tbody > tr > td{
	padding: 7px 5px 7px 5px;
	border: 0;
	background-color: transparent;
	vertical-align: middle;
}
table.greedy-table > tbody > tr > td.icon{
	text-align: right;
	vertical-align: middle;
}
table.greedy-table > tbody > tr:nth-child(even){
	background-color: #ebebec;
}
table.greedy-table > tbody > tr:nth-child(odd){
	background-color: #ffffff;
}
table.greedy-table.hover-elements > tbody > tr:hover{
	opacity: 0.5;
	cursor: hand;
}
table.greedy-table.no-selection > tbody > tr,
table.greedy-table.no-selection > tbody > tr > td{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

/* greedy TABLE 2 */
table.greedy-table2{
	position: relative;
	width: 100%;
	color: #2c343f;
	font-size: 12px;
	border-collapse: separate; 
	border-spacing: 0;
	border: 0;
}
table.greedy-table2 > thead{
	text-align: left;
	border: 0;
}
table.greedy-table2 > thead > tr > th{
	font-weight: bold;
	padding: 0px 5px 8px 5px;
	border: 0;
}
table.greedy-table2 > tbody > tr > td{
	padding: 7px 5px 7px 5px;
	border: 0;
	background-color: transparent;
	vertical-align: middle;
}
table.greedy-table2 > tbody > tr > td.icon{
	text-align: right;
	vertical-align: middle;
	border: 0;
}
table.greedy-table2 > tbody > tr:nth-child(even){
	background-color: #ebebec;
	border: 0;
}
table.greedy-table2 > tbody > tr:nth-child(odd){
	background-color: #ffffff;
	border: 0;
}
table.greedy-table2.hover-elements > tbody > tr:hover{
	opacity: 0.5;
	cursor: hand;
}
table.greedy-table2.no-selection > tbody > tr,
table.greedy-table2.no-selection > tbody > tr > td{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

/* greedy TABLE NO WIDTH */
table.greedy-table-noW{
	position: relative;
	color: #2c343f;
	font-size: 12px;
	border-collapse: separate; 
	border-spacing: 0;
	border: 0;
}
table.greedy-table-noW > thead{
	text-align: left;
	border: 0;
}
table.greedy-table-noW > thead > tr > th{
	font-weight: bold;
	padding: 0px 5px 8px 5px;
	border: 0;
}
table.greedy-table-noW > tbody > tr > td{
	padding: 7px 5px 7px 5px;
	border: 0;
	background-color: transparent;
	vertical-align: middle;
}
table.greedy-table-noW > tbody > tr > td.icon{
	text-align: right;
	vertical-align: middle;
	border: 0;
}
table.greedy-table-noW > tbody > tr:nth-child(even){
	background-color: #ebebec;
	border: 0;
}
table.greedy-table-noW > tbody > tr:nth-child(odd){
	background-color: #ffffff;
	border: 0;
}
table.greedy-table-noW.hover-elements > tbody > tr:hover{
	opacity: 0.5;
	cursor: hand;
}
table.greedy-table-noW.no-selection > tbody > tr,
table.greedy-table-noW.no-selection > tbody > tr > td{
	nowrap: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

