.greedy-switch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.greedy-switch-checkbox {
    display: none;
}
.greedy-switch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 15px; padding: 0; line-height: 15px;
    border: 0px solid #FFFFFF; border-radius: 19px;
    background-color: #9E9E9E;
}
.greedy-switch-label:before {
    content: "";
    display: block; width: 19px; margin: -2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 21px;
    border-radius: 19px;
    box-shadow: 0 6px 12px 0px #757575;
}
.greedy-switch-checkbox:checked + .greedy-switch-label {
    background-color: #42A5F5;
}
.greedy-switch-checkbox:checked + .greedy-switch-label, .greedy-switch-checkbox:checked + .greedy-switch-label:before {
   border-color: #42A5F5;
}
.greedy-switch-checkbox:checked + .greedy-switch-label .greedy-switch-inner {
    margin-left: 0;
}
.greedy-switch-checkbox:checked + .greedy-switch-label:before {
    right: 0px; 
    background-color: #2196F3; 
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}