.greedy-hmenu{
    background-color: #FFFFFF;
	font-size: 14px;
	height: 40px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #e9e9e9;
}
.greedy-hmenu > ul.left,
.greedy-hmenu > ul.right{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	height: 100%;
}
.greedy-hmenu > ul.left{
	position: relative;
	float: left;
}
.greedy-hmenu > ul.right{
	position: relative;
	float: right;
}
.greedy-hmenu > ul.left > li,
.greedy-hmenu > ul.right > li{
	float: left;
}
.greedy-hmenu > ul.left > li > a,
.greedy-hmenu > ul.right > li > a{
	display: block;
	padding: 10px 20px 10px 20px;
	color: #000000;
	height: 100%;
}
.greedy-hmenu > ul.left > li > a:hover,
.greedy-hmenu > ul.right > li > a:hover{
	background-color: #e9e9e9;
}
.greedy-hmenu > ul.left > li.disabled > a,
.greedy-hmenu > ul.right > li.disabled > a,
.greedy-hmenu > ul.left > li.disabled > a:hover,
.greedy-hmenu > ul.right > li.disabled > a:hover,
.greedy-hmenu > ul.left > li.disabled > a > span,
.greedy-hmenu > ul.right > li.disabled > a > span{
	color: gray !important;
	background-color: #FFFFFF;
	cursor: default;
	pointer-events: none;
}

