.accordion, .accordion *{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
.accordion{
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	border-radius: 3px;
	background: #f7f7f7;
}
.accordion.slidebar{
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	border-radius: 0 !important;
}
.accordion-section-title{
	width: 100%;
	padding: 10px;
	display: inline-block;
	border-bottom: 1px solid #eeeeee;
	background: #ffffff;
	transition: all linear 0.15s;
	font-size: 16px;
	color: #000000;
}
.accordion-section-title.slidebar{
	border-bottom: 0 !important;
	background: #2c343f !important;
	color: #7b939f !important;
}
.accordion-section-title > .notifications{
	position: relative;
	float: right;
	font-size: .7em;
	background: #2086bf;
	color: #FFFFFF;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	border-radius: 5px;
	box-shadow: 0 0 1px #333;
}
.accordion-section-title > .toggle-icon{
	position: relative;
	width: 40px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	color: #999999;
}
.accordion-section-title.slidebar > .toggle-icon{
	color: #7b939f;
}
.accordion-section-title.active, .accordion-section-title:hover{
	background: #eeeeee;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
.accordion-section-title.slidebar.active, .accordion-section-title.slidebar:hover{
	background: #2086bf !important;
	text-decoration: none !important;
	color: #ffffff !important;
}
.accordion-section:last-child .accordion-section-title{
	border-bottom: none;
}
.accordion-section-content{
	display: none;
	background-color: #FFFFFF;
}
.accordion-section-content.slidebar{
	background-color: #2c343f !important;
	color: #ffffff !important;
}