.greedy-slidebar-wrapper{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 201;
	background-color: #2c343f;
	opacity: 0.3;
}
.greedy-slidebar{
	position: absolute;
	display: none;
	width: 300px;
	height: 100%;
	z-index: 202;
	top: 0;
	background-color: #2c343f;
}
.greedy-slidebar.right{
	right: 0;
}
.greedy-slidebar.left{
	left: 0;
}