h1{
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin: 0;
}
h1.bold{
	font-weight: bold;
}
h1 > .subtitle{
	font-size: 16px;
	color: #909090;
}
h2{
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin: 0;
}
h2.bold{
	font-weight: bold;
}
h2 > .subtitle{
	font-size: 14px;
	color: #909090;
}
h3{
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin: 0;
}
h3.bold{
	font-weight: bold;
}
h3 > .subtitle{
	font-size: 12px;
	color: #909090;
}
h4{
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin: 0;
}
h4.bold{
	font-weight: bold;
}
h4 > .subtitle{
	font-size: 10px;
	color: #909090;
}
h5{
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	margin: 0;
}
h5.bold{
	font-weight: bold;
}
h5 > .subtitle{
	font-size: 8px;
	color: #909090;
}
.paddingTop10{
	padding-top: 10px;
}
.padding0{
	padding: 0 !important;
}
.padding5{
	padding: 5px !important;
}
.padding10{
	padding: 10px !important;
}
.padding10-vertical{
	padding: 0px 10px 0px 10px !important;
}
.padding15{
	padding: 15px !important;
}
.padding20{
	padding: 20px 20px 27px 20px !important;
}
.place-right{
	float: right;
}
.inset-text-effect {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  text-align: center;
  white-space: pre;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}
.resultDiv{
	display: none;
}
.clear{
	clear: both;
}
.page-divider{
	position: relative;
	width: 100%;
	height: 1px;
	background-color: #ebebec;
}
.disable-object{
	pointer-events: none;
	cursor: default;
}