.greedy-image{
	position: relative;
}

/*IMAGE SIZE*/
.greedy-image.ultramini{
	width: 70px;
	height: 70px;
}
.greedy-image.mini{
	width: 100px;
	height: 100px;
}
.greedy-image.small{
	width: 150px;
	height: 150px;
}
.greedy-image.default{
	width: 250px;
	height: 250px;
}
.greedy-image.large{
	width: 350px;
	height: 350px;
}
.greedy-image.xlarge{
	width: 450px;
	height: 450px;
}
.greedy-image.xxlarge{
	width: 550px;
	height: 550px;
}

/*IMAGE CIRCLE*/
.greedy-image.ultramini.circle{
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
}
.greedy-image.mini.circle{
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}
.greedy-image.small.circle{
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
}
.greedy-image.default.circle{
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
}
.greedy-image.large.circle{
	border-radius: 175px;
	-webkit-border-radius: 175px;
	-moz-border-radius: 175px;
}
.greedy-image.xlarge.circle{
	border-radius: 225px;
	-webkit-border-radius: 225px;
	-moz-border-radius: 225px;
}
.greedy-image.xxlarge.circle{
	border-radius: 275px;
	-webkit-border-radius: 275px;
	-moz-border-radius: 275px;
}

/*IMAGE ROUNDED*/
.greedy-image.ultramini.rounded{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.greedy-image.mini.rounded{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.greedy-image.small.rounded{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.greedy-image.default.rounded{
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}
.greedy-image.large.rounded{
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
.greedy-image.xlarge.rounded{
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}
.greedy-image.xlarge.rounded{
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}