/*
 secpass main CSS file
*/

/*
 Border distance for box
*/

.border {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
}

/*
 Center box vertically
*/

.vertical-center {
    width: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*
 Error color (red)
*/

.error {
    color: firebrick;
}

/*
 Success color (light green)
*/

.success {
    color: greenyellow;
}

/*
 Password list item style properties
*/

.password {
    color: #273746;
    font-weight: 700;
    font-size: 16px;
}