{{define "header"}}
<!DOCTYPE html>
<html>

<!-- header -->

<head>
    <meta charset='utf-8'>
    <title>{{config "web" "title"}}</title>
    <link href="/web/material-icons.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/web/materialize.min.css" media="screen,projection">
    <link href="/web/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/web/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/favicon.png">
</head>

<!-- body -->

<body>
    <!-- desktop navigation -->
    <nav>
        <div class="nav-wrapper">
            <!-- mobile navigation opener -->
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <!-- title left -->
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">{{config "web" "title"}}</a></li>
            </ul>

            <!-- links right -->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!-- guest -->
                {{if .LoggedOut}}
                <li><a href="/login">{{lang .Lang "login"}}</a></li>
                <li><a href="/register">{{lang .Lang "register"}}</a></li>
                <!-- user -->
                {{else}}
                <li><a href="/settings">{{lang .Lang "settings"}}</a></li>
                <li><a href="/login/logout">{{lang .Lang "logout"}}</a></li>
                {{end}}
            </ul>
        </div>
    </nav>

    <!-- mobile navigation -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">{{config "web" "title"}}</a></li>
        <!-- guest -->
        {{if .LoggedOut}}
        <li><a href="/login">{{lang .Lang "login"}}</a></li>
        <li><a href="/register">{{lang .Lang "register"}}</a></li>
        <!-- user -->
        {{else}}
        <li><a href="/settings">{{lang .Lang "settings"}}</a></li>
        <li><a href="/login/logout">{{lang .Lang "logout"}}</a></li>
        {{end}}
    </ul>

    {{end}}