{{define "header"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{{config "web.title"}}</title>
    <link href="/css/material-icons.css" rel="stylesheet">

    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.core.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.appbar.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.sidebar.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.buttons.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.typography.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.breadcrumb.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.images.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.panels.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.tables.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.progressbar.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.alertbox.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.scrollbar.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.tabcontrol.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.notify.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.input.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.modal.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.colors.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.loadingscreen.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.preloaders.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.switch.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.accordion.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.menu.css" type="text/css" rel="stylesheet">
    <link href="/css/greedy.slidebar.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/greedy.notify.js"></script>



    <!-- <link rel="stylesheet" href="/css/materialize.min.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="greedy-wrapper">
    {{end}}