{{template "header"}} {{$name := lang + "name"}} {{$password := index .Lang "password"}}

<style>
    body {
        background-color: #2C343F;
    }

    .menu-content {
        background-color: #3C434D;
    }

    .js-notify {
        width: 100%;
    }
</style>


<script>
    particlesJS.load('particles-js', "/js/particles.json", function () {
        console.log('callback - particles loaded');
    });

    function FuncLogIn() {
        var user = document.getElementById('name').value;
        var password = document.getElementById('password').value;

        document.getElementById('main_notifies').innerHTML = '';

        document.getElementById('LoginButton').innerHTML = '<span class="fa fa-refresh fa-spin"></span>&nbsp;&nbsp;Bitte warten...';

        $.ajax({
            type: "POST",
            url: "",
            data: { "name": user, "password": password },
            dataType: "html",
            success: function (response) {
                document.getElementById('LoginButton').innerHTML = 'Anmelden';

                if (response == "true") {
                    CreateNotify(
                        '<span class="fa fa-check"></span>',
                        '{{index .Lang "loginSuccessTitle"}}',
                        '{{index .Lang "loginSuccess"}}',
                        'success',
                        '#main_notifies',
                    );
                    setTimeout(function () {
                        window.location = "/";
                    }, 2500);
                } else {
                    CreateNotify(
                        '<span class="fa fa-times"></span>',
                        '{{index .Lang "loginWrongTitle"}}',
                        '{{index .Lang "loginWrong"}}',
                        'alert',
                        '#main_notifies',
                    );
                }

            }
        });

    }
</script>


<div class="navigation-left-wrapper" id="loginWrapper">
    <ul class="greedy-sidebar">
        <!-- ### HEADER ### -->
        <div class="header">
            <div align="center" class="padding10">
                <img src="/images/secpass.png" style="width: 70%;" />
            </div>
        </div>
        <!-- ### END OF HEADER ### -->
        <div class="menu-content">
            <div id="main_notifies">


            </div>
            <div id="LoginForm" class="padding20">
                <h5 class="fg-white">{{$name}}:</h5>
                <input name="name" id="name" type="text" class="validate greedy-textbox" placeholder="{{$name}}" required>
                <br>
                <br>
                <h5 class="fg-white">{{$password}}:</h5>
                <input name="password" id="password" type="password" class="validate greedy-textbox" placeholder="{{$password}}" required>

                <script>
                    $("#name").keyup(function (event) {
                        if (event.keyCode == 13) {
                            $("#LoginButton").click();
                        }
                    });
                    $("#password").keyup(function (event) {
                        if (event.keyCode == 13) {
                            $("#LoginButton").click();
                        }
                    });
                </script>
                <br>
                <br>
                <button id="LoginButton" class="greedy-button dark-border small-button primary" style="width: 100%;" onClick="FuncLogIn();">Anmelden</button>
                <br>
                <br>
            </div>
        </div>
    </ul>
</div>


{{template "footer"}}