{{define "navLeft"}}

<ul class="greedy-sidebar">
    <!-- ### HEADER ### -->
    <div class="header">
        <div class="logo">
            <img src="/images/secpass.png" style="height: 50px;" />
        </div>
    </div>
    <!-- ### END OF HEADER ### -->

    <div class="menu-content">
        <!-- ### MAIN NAVIGATION ### -->
        <li class="title">
            <div id="NavLeftProjectName" class="title-text">
                <span class="fa fa-globe"></span>&nbsp;&nbsp;
            </div>
            <div class="title-clear"></div>
        </li>
        <li>
            <a class="greedy-menu-item sb-active" id="menu-dashboard" href="/">
                <span class="icon fa fa-tachometer-alt"></span>{{lang .Lang "dashboard"}}
            </a>
        </li>
        <li>
            <a class="greedy-menu-item" id="menu-security" data-page-url="library/include/pages/security.inc.php" href="#">
                <span class="icon fa fa-shield-alt"></span>Sicherheit</a>
        </li>
        <li class="dropdown-menu">
            <a href="#">
                <span class="icon fa fa-history"></span>Aktivitäten</a>
            <ul>
                <li>
                    <a class="greedy-menu-item" id="menu-activities-all" data-page-url="library/include/pages/activities.inc.php" data-page-action="all"
                        href="#">
                        <span class="icon fa fa-history"></span>Alle Aktivitäten</a>
                </li>
                <li>
                    <a class="greedy-menu-item" id="menu-activities" data-page-url="library/include/pages/activities.inc.php" href="#">
                        <span class="icon fa fa-history"></span>Meine Aktivitäten</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-menu">
            <a href="#">
                <span class="icon fa fa-user"></span>Benutzerverwaltung</a>
            <ul>
                <li>
                    <a class="greedy-menu-item" id="menu-user_management" data-page-url="library/include/pages/user_management.inc.php" href="#">
                        <span class="icon fa fa-users"></span>Alle Benutzer</a>
                </li>
                <li>
                    <a class="greedy-menu-item" id="menu-user_management-create" data-page-url="library/include/pages/user_management.inc.php"
                        data-page-action="add" href="#">
                        <span class="icon fa fa-plus"></span>Benutzer erstellen</a>
                </li>
            </ul>
        </li>
        <!-- ### END OF MAIN NAVIGATION ### -->


        <!-- ### INSTANT NOTIFICATIONS ### -->
        <li class="title">
            <div class="title-text">
                <span class="fa fa-warning"></span>&nbsp;&nbsp;Meldungen</div>
            <div class="title-clear"></div>
        </li>
        <div id="main_notifies"></div>
    </div>
</ul>
<!-- ### BOTTOM INFO ### -->
<div style="position: absolute; bottom: 5px; left: 5px; font-size: 10px; color: #7b939f;">
    v{{config "web.version"}}
</div>
<!-- ### END OF BOTTOM INFO ### -->


{{end}}